/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;    padding: 0;    border: 0;    font-size: 100%;    font: inherit;    vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {    display: block;}body {    line-height: 1;}ol, ul {    list-style: none;}blockquote, q {    quotes: none;}blockquote:before, blockquote:after,q:before, q:after {    content: '';    content: none;}table {    border-collapse: collapse;    border-spacing: 0;}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
/* 头部 */
header{
    width: 100%;
    background: #f7f7f7;
    height: 32px;
}
.tit-wrap{
    width: 1190px;
    height: 32px;
    margin: 0 auto;
}
.tit-wrap .tit{
    width: 186px;
    text-align: center;
    line-height: 32px;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
    color: #8d8d8d;
    float: left;
}
.tit-wrap .http-nav a{
    float: left;
    text-align: center;
    line-height:12px;
    height: 12px;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
    color: #666666;
    border-right: 1px solid #666666;
    margin-top:10px; 
    padding: 0 11px;
}
.tit-wrap .news a{
    float: left;
    text-align: center;
    line-height:12px;
    height: 12px;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
    color: #666666;
    margin-top:10px; 
    padding: 0 11px;
}
.tit-right{
    width: 576px;
    float: right;
}
.tit-right li a{
    float: left;
    margin-top: 10px;
    color: #666;
    font-size: 12px;
    padding: 0 10px;
    border-right: 1px solid #666;
}
/* logo */
.log-wrap{
    width: 100%;
    height: 130px;
}
.log-wrap{
    width: 1190px;height: 130px;
    margin: 0 auto;
    background:#ddd;
}
.top-log{
  height:80px; 
} 
.top-log div{
    float: left;
    margin: 20px 0;
}
.top-log div:nth-child(2){
    margin-left: 77px;margin-right:  56px;  
}

.ipt-log,.btn-log{
    /* box-sizing: border-box; */
    height: 35px;
   
    width: 430px;
}
.ipt-log{
    height: 31px;
    border: 2px solid red;
}
.btn-log{
    width: 83px;
    border: 0;
    height: 37px;
    text-align: center;
    background: red;
    color: #fff;  
    margin-top: -1px;
}

.toplog-ul{
    padding: 8px 0;
}
.toplog-ul li{
    float: left;
    border-right: 1px solid red;
    padding: 0 6px;
    height: 13px;
    color: #999999;
    font-size: 12px;
    text-align: center;
    line-height: 13px;

}
/* banner图上方导航 */
.bottom-log{
    /* background: red; */
    
    margin-top: 26px;
}
.bottom-log h4{
    /* background: red; */
    height: 35px;
    width:190px;
    float: left;
    font-size: 12px;
    background: #000000;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-top: -11px;
}
.bottomlog-ul{
    /* height: 50px; */
    padding-left: 190px; 
}
.bottomlog-ul li{
    float: left;
    margin-left: 19px;
    margin-right: 19px;
}
.bottomlog-ul li a{
    text-decoration: none;
    font-weight: 600;
    color: #333333;
    font-size: 14px;
}
.bottomlog-ul li a:hover{
    color: blueviolet;
}

/* banner图 */
.swiper-container {
    width: 785px;
    height: 432 px;
}  
.swiper-button-prev,.swiper-button-next{
    display: none;
}
.swiper-container:hover .swiper-button-prev{
    display: block;
    /* background: red;
    opacity: .3; */
} 
.swiper-container:hover .swiper-button-next{
    display: block;
}

/* 二级导航 */
.banner-wrap{
    position: relative;
    width: 1190px;
    margin: 0 auto;

}
.two-nav{
    position: absolute; top:0px;
    /* background:black;
     opacity: .3;  */
}
/* .two-nav li:nth-child(1){
    height: 35px;
    text-align:center;
    line-height: 35px;
    background: black;
    color: #fff;
} */
.two-nav .li-first{
    width: 190px;
    height:29px;
    background-color:rgba(0,0,0,0.2);
}
.two-nav li .two-min-nav{
    position: absolute;
    top: 0px;
    z-index: 2002;
    height: 432px;
    background: #fff;
    width: 560px;
    background-color:rgba(0,0,0,0.5);
}

.two-nav .li-first a{
    display: inline-block;
    text-decoration: none;
    width: 190px;
    height:29px;
    background-color:rgba(0,0,0,0.5);
    text-align: center;
    line-height: 29px;
    color: #fff;
}
.two-nav li a:hover{
    background: black;
    background-color:rgba(0,0,0,0.2);
    
}
.two-nav .two-min-nav{
    width: 1000px;
    height: 432px;
    /* background: blueviolet; */
    display: none;
}
.two-min-nav .two-min-nav-wrap{
    width: 850px;
    height: 100%;
}
.two-nav .two-min-nav .two-min-nav-wrap div{
    float: left;
    padding: 5px 5px;
    color: #fff;
}
/* .two-nav .two-min-nav div:nth-of-type(1) ul li{
    float: left;
    background: none;
    padding: 5px 5px;
} */

.two-nav li:hover .two-min-nav{
    display: block;
    position: absolute;
    left: 190px;
    z-index: 6;
} 
/* 

 /* */ 
 /* */ 
 /* */ 
 /* */ 
 /* */ 
 /* */ 
/* 右侧固定导航 */
.right-nav-wrap{
    position: fixed;
    right:  -268px;
    top: 0;
    height: 100%;
    width: 306px;
    background: #333333;
    z-index: 210;
}
.right-nav{
    
    height: 100%;
    width: 38px;
    background: #333333;
}
.active{
    right: 200px;
}
.right-nav .vip{
    padding-top: 84px;
    text-align: center;
    
}
.right-nav .vip span{
    position: absolute;
    left:0px;
    font-size: 12px;
    background: #fff;
    border:1px solid #666;
    color: black;
    top: 0;
    z-index: 1;
    display: none;
}
.right-nav .vip:hover span{
    display: block;
}
.right-nav .vip i{
    position: relative;
   width: 38px;
   height: 40px;
   padding: 5px 0;
   line-height: 40px;
   font-size:32px;
   color: blanchedalmond;

}
.right-nav .cart{
    position: absolute;
    width: 44px;
    margin-left: -6px;
    background: #333333;
    box-shadow: #202020 5px 5px 5px;
    height: 174px;
    text-align: center;
}
.right-nav .cart i{
    width: 100%;
    height: 40px;
    padding: 10px 0;
    line-height: 40px;
    font-size:32px;
    color: blanchedalmond;
 
 }
 .right-nav .cart span:nth-of-type(1){
     text-align: center;
     display: inline-block;
     width: 16px;
     height: 45px;
     padding: 5px 14px 0 14px;  
    
 }
 .right-nav .cart span:nth-of-type(2){
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-top:10px;
   background: #e6133c;
   border-radius: 50%;
   color: white;
}
.right-nav .start{
    position: absolute;
    top: 330px;
    width: 38px;
    height: 40px;
    padding: 10px 0;
    text-align: center;
    line-height: 40px;
    font-size:32px;
    color: blanchedalmond;
}
.right-nav .history{
    position: absolute;
    top: 372px;
    width: 38px;
    height: 40px;
    padding: 10px 0;
    text-align: center;
    line-height: 40px;
    font-size:32px;
    color: blanchedalmond;
}
.right-nav .qrcode{
    position: absolute;
    top:527px;
    width: 38px;
    height: 40px;
    padding: 10px 0;
    text-align: center;
    line-height: 40px;
    font-size:32px;
    color: blanchedalmond;
}
.right-nav .service{
    position: absolute;
    top:568px;
    width: 38px;
    height: 40px;
    padding: 10px 0;
    text-align: center;
    line-height: 40px;
    font-size:32px;
    color: blanchedalmond;
}
/* 内荣区 */
.first-wrap{
    width: 1190px;
    height: 250px;
    margin: 20px auto;
    /* background:red; */
}
.first-img{
    width: 224px;
    height: 250px;
    background: blue;
    float: left;
}
.long-nav{
    float: left;
}
.long-nav li{
    width: 140px;
    height: 227px;  
    float: left;
    
    padding:0 10px;  
    
}
.long-nav li span{
    width: 140px;
    height: 140px;  
    display: inline-block;
    overflow: hidden;
}
.long-nav li img{
    width: 140px;
    text-align: center;
}
.long-nav li a{
    color: #333333;
    display: inline;
    text-decoration: none;
    line-height: 20px;
}
.long-nav li a:hover{
    text-decoration: black;
  
}
.long-nav .money{
    color: #ff6f6f;
    font-weight: 700;
    line-height: 26px;
    height: 26px;
    font-family: '\5FAE\8F6F\96C5\9ED1';
}
.long-nav .two-money{
    color: #bbb;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    font-family: '\5FAE\8F6F\96C5\9ED1';
}
/* 楼层 */
/* 负层 */
.defeat-floor-wrap{
    width: 1190px;
    height: 370px;
    margin:20px auto;
    /* background:blue; */
}
.defeat-floor-banner {
    width: 305px;
    float: left;
}
.defeat-floor-wrap img{
    width: 305px;
}
.defeat-floor-wrap ol li{
    float: left;
    width:280px;
    height: 175px;
   margin-left: 10px;
   margin-bottom: 10px;
}
.defeat-floor-wrap ol li img{
   width: 100%;
}
/* 楼梯 */
.stairs{
    width:50px;
    height: 440px;
    position: fixed;
    left: 2%;
    bottom: 5%;
    background: #fff;
    z-index: 900; 
    display: none;
  
}
.stairs ul li{
    height: 50px;
    box-sizing: border-box;
    border-bottom: 2px solid #ddd;
    /* line-height: 50px; */
    text-align: center;
    font-size: 12px;
    padding:10px;
}
.stairs ul li.active{
    background: rgba(0,0,0,.3);
    color: #fff;
}
/*  一层*/
.floor-wrap{
    width: 1190px;
    margin:20px auto;
    background:blue;
}
.first-floor-wrap{
    width: 1190px;
    height: 514px;
    margin:20px auto;
    background:blue;
}
.first-floor-wrap h3{
    font-size: 26px;
    line-height: 48px;
}
.first-floor-banner {
    position: relative;
    overflow: hidden;
    float: left;
    width: 306px;
    height: 464px;
}
.first-floor-banner div{
    /* float: left; */
   
    position: absolute;
    top: 0;
    left: 0;
}
.first-floor-banner div img {
    height: 464px;
    width: 306px;
}
.first-floor-right1{
    float: left;
    width: 441px;
    height: 300px;
    border-bottom:1px solid #333333;
    border-right: 1px solid #333333;
    position: relative;
}
.first-floor-right1 img{
     position: absolute;
    left: 0; 
    width: 441px;
    height: 300px;
}
.first-floor-right2,.first-floor-right3{
    float: left;
    width: 220px;
    height: 300px;
    border-bottom:1px solid #333333;
    border-right: 1px solid #333333;
    position: relative;
    overflow: hidden;
}
.first-floor-right2 img,.first-floor-right3 img{
    float: left;
    width: 220px;
    height: 300px;
    position: absolute;

}
.first-floor-right-ul li{
    float: left;
    width: 220px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom:1px solid #333333;
    border-right: 1px solid #333333;
    position: relative;
}
.first-floor-right-ul li img{
    position: absolute;
    left: 0;
}
/*三楼 */
.three-floor-right-ul li{
    float: left;
    width: 220px;
    height: 99px;
    border-bottom:1px solid #333333;
    border-right: 1px solid #333333;
    position: relative;
}
.three-floor-right-ul li img{
    position: absolute;
    left: 0;
}
.three-floor-right-ul-two{
    border-bottom:1px solid #333333;
    border-right: 1px solid #333333;
    overflow: hidden;
}
.three-floor-right-ul-two li{
    float: left;
    width: 147px;
    height: 44px;
    padding-top:10px;
    padding-bottom:10px;
}
/* 底部 */
footer{
    background: #f3f3f3;
    height: 386px;
    width: 100%;
    padding-top: 30px;
}
.footer{
    width: 1190px;
    height: 386px;
    margin: 0 auto;
  
}
.footer-nav{
    padding-left: 56px;
    height:170px;

}
.footer-nav-1{
    width: 220px;
    float: left;
   
}
.footer-nav-1 p{
    display: inline;
    width: 40px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}
.footer-nav i{
    display: inline-block;
    float: left;
     margin-right: 15px; 
    width: 40px;
    height: 40px;
    font-size: 24px;
    background: #333333;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.footer-nav-1 ul{
    margin-left: 55px;
}
.footer-nav-1 ul li{
   line-height: 26px;
   font-size: 12px;
   height: 26px;
  
}
.footer-nav-1 ul li a{
    color: #555555;
}
.footer-nav-1 ul li a:hover{
    color: red;
   
    text-decoration: black;
 }
.foot-bottom{
    width: 100%;
    height: 169px;
    
    padding-top: 30px;
}
.foot-bottom ul{
    padding-left: 366px;
    margin: 0 auto;
    height: 16px;
}
.foot-bottom li{
    float: left;
}
.foot-bottom li a{
    display: inline-block;
    height: 12px;
    line-height: 12px;
    width: 74px;
    color: #333333;
    border-right:1px solid #999999; 
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}
.foot-bottom li a:nth-child(6){
    border-right: none;
}
.foot-bottom li a:hover{
    color: brown;
}
.copyright{
    text-align: center;
    padding-top:11px;
   padding-bottom: 6px;
    height: 12px;
    font-size: 12px;
}
.copyright a{
    display: inline-block;
    text-decoration: none;
    padding: 0 13px;
    color: #999999;
    border-right: 1px solid #999999;

}
.copyright a:nth-child(3){
    border-right: none;
}
.certificate,.Permit{
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
}
.certificate a,.Permit a{
    text-decoration: none;
    color: #666666;
}
.police{
    text-align: center;
    padding-top: 10px;
}
.police a{
    padding-right: 24px;
    text-decoration: none;
    color: #999999;
    font-size: 12px;
}
.police img{
    widht:20px;
    height: 20px;
    padding-right: 16px;
}
/* 登录 */
.join-wrap{
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    width: 268px;
    background: red;
    /* z-index: 201; */
}
.join-wrap span{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 14px;
    font-size: 14px;line-height: 14px;
}
.join{
    text-align: center;
    margin-top: 50px;
}
.join h2{
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}
.join input{
    margin-top: 10px;
    height: 36px;
    width: 236px;
    /* font-size: px; */
}
.join button{
    width:240px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background: #e6133c;
    border: none;
    
}
.join a{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding-right: 12px;
    color: #666666;
    float: right;
    font-size: 12px;
}
.join a:hover{
    color:  #e6133c;
}
/* 百度搜索 */
#list{
    position: absolute;
    background: #fff;
}
/* 图片动画*/
.first-floor-right1 img,.first-floor-right2 img,.first-floor-right3 img,.first-floor-right-ul li img,.three-floor-right-ul li img{
    left:-5
} 